h1 {
  text-align: center;
  font-family: syne tactile;
  color: mediumturquoise;
}

h2 {
  text-align: center;
  font-family: syne tactile;
  color: mediumturquoise;
}
body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRom2Jv23m3Vw4mx6pcOXDtrXPe65w8mO6KQQ&usqp=CAU");
}

p {
  text-align: center;
  font-family: gugi;
  color: mediumturquoise;
}

img {
  width: 200px;
}

.left {
  float: left;
}
.centerleft {

  margin: 0px 300px 0px 300px;
}